@font-face {
	font-family: 'fontawesome';
	src:url('../fonts/fontawesome/fontawesome.eot');
	src:url('../fonts/fontawesome/fontawesome.eot?#iefix') format('embedded-opentype'),
		url('../fonts/fontawesome/fontawesome.woff') format('woff'),
		url('../fonts/fontawesome/fontawesome.ttf') format('truetype'),
		url('../fonts/fontawesome/fontawesome.svg#fontawesome') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Main container */
.cbp-vm-switcher {
	padding: 0px;
	border: 0px solid #47a3da;
}

/* options/select wrapper with switch anchors */
.cbp-vm-options {
	position: absolute;
    text-align: right;
    top: -35px !important;
	right:10px;
}

.cbp-vm-options a {
	display: inline-block;
	/*width: 40px;
	height: 40px;*/
	overflow: hidden;
	white-space: nowrap;
	color: #444;
	font-size:22px;
	margin-left: 10px;
}

.cbp-vm-options a span{
	background-color:#367fa9;
	font-size:10px;
	color: #fff;
	border-radius: 20px;
	padding:1px 5px;
}
.cbp-vm-options a:hover,
.cbp-vm-options a.cbp-vm-selected {
	color: #47a3da;
}

.cbp-vm-options a:before {
	font-size: 18px;
	text-align: center;
	display: inline-block;
}

/* General style of switch items' list */

.cbp-vm-switcher ul {
	list-style: none;
	padding: 0;
	margin: 15px 5px;
}

/* Clear eventual floats */
.cbp-vm-switcher ul:before, 
.cbp-vm-switcher ul:after { 
	content: " "; 
	display: table; 
}

.cbp-vm-switcher ul:after { 
	clear: both; 
}

.cbp-vm-switcher ul li {
	display: block;
	position: relative;
}

.cbp-vm-image {
	display: block;
	margin: 0 auto;
	height:125px;
}

.cbp-vm-image img {
	display: inline-block;
	/*width: 100%;*/
	border: none;
	height:125px;
}

.cbp-vm-title {
	margin: 0;
	padding: 0;
}

.cbp-vm-price {
	color: #c0c0c0;
}

.cbp-vm-add {
	color: #fff;
	background: #47a3da;
	padding: 10px 20px;
	border-radius: 2px;
	margin: 00px 0 0;
	/*display: inline-block;*/
	transition: background 0.2s;
	float:right;
}

.cbp-vm-add span{
	border-radius:20px;
	background-color:#fff;
	color: #47a3da;
	padding:1px 6px;
}
.cbp-vm-add:hover {
	color: #fff;
	background: #02639d;
	text-decoration:none;
}

.cbp-vm-add:before {
	margin-right: 5px;
}
.btn-default{
	border:1px solid #ececec !important;
}
.navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 9;
	background:url(../img/fixed-bg.png);
	background-color:none !important;
}
.navbar-fixed-bottom button{
    z-index: -999999;
	margin:10px;
	float:right;
}
.navbar-fixed-bottom #content{
	padding-left: 270px !important;
	padding-top:0px !important;
	padding-right:0px !important;
}	
.navbar-fixed-bottom #content .main{
	margin: 0px !important;
}
/* Common icon styles */
.cbp-vm-icon:before {
	font-family: 'fontawesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/*.cbp-vm-grid:before {
	content: "\f44f";
}

.cbp-vm-list:before {
	content: "\f03a";
}*/

.cbp-vm-add:before {
	content: "\f07a";
}

/* Individual view mode styles */

/* Large grid view */
.cbp-vm-view-grid ul {
	text-align: center;
}

.cbp-vm-view-grid ul li {
	width: 23.4%;
	text-align: center;
	margin:0px 8px 15px 8px;
	padding-bottom:10px;
	display: inline-block;
	min-height: 252px;
	vertical-align: top;
	border:1px solid #CCC8C8;
	background:#ECE9E9;
	float:left;
	padding-top:10px;
}

.cbp-vm-view-grid .cbp-vm-title {
	font-size: 26px;
	font-weight:bold;
	margin-top:10px;
}

.cbp-vm-view-grid .cbp-vm-details {
	max-width: 300px;
	margin-bottom: 10px;
	padding:0px 10px;
} 

.cbp-vm-view-grid .cbp-vm-price {
	margin:5px 0px;
	font-size: 1.3em;
	font-weight:200;
}
.cbp-vm-view-grid .cbp-vm-price-agreed {
	margin:0px 10px;
	font-size: 1.3em;
	font-weight:bold;
	color:#fff;
	background:#34c4d9;
}


/* List view */
.cbp-vm-view-list li {
	padding: 0px 0;
	white-space: nowrap;
	border:1px solid #f4f4f4;
	background-color:#fff;
	margin-bottom:10px;
}
.cbp-vm-view-list input{
	width:90% !important;
	margin:0px 10px !important;
}
.cbp-vm-view-list .cbp-vm-image,
.cbp-vm-view-list .cbp-vm-title,
.cbp-vm-view-list .cbp-vm-details,
.cbp-vm-view-list .cbp-vm-price-agreed,
.cbp-vm-view-list .cbp-vm-price,
.cbp-vm-view-list .cbp-vm-add {
	display: inline-block;
	vertical-align: middle;
}

.cbp-vm-view-list .cbp-vm-image {
	width: 10%;
}

.cbp-vm-view-list .cbp-vm-title {
	font-size: 1.3em;
	padding: 0 10px;
	white-space: normal;
	width: 18%;
}

.cbp-vm-view-list .cbp-vm-price {
	font-size: 1.3em;
	width: 10%;
}
.cbp-vm-view-list .cbp-vm-price-agreed{
	font-size: 1.3em;
	width: 10%;
}
.cbp-vm-view-list .cbp-vm-details {
	width: 30%;
	padding: 0 15px;
	overflow: hidden;
	white-space: normal;
}
.cbp-vm-view-list .cbp-vm-table {
	margin: 0;
	display: inline-table;
}


.cbp-vm-view-list .cbp-vm-add {
	margin: 0;
}

@media screen and (max-width: 66.7em) {
	.cbp-vm-view-list .cbp-vm-details  {
		width: 30%;
	}
} 

@media screen and (max-width: 57em) {
	.cbp-vm-view-grid ul li {
		width: 49%;
	}
}

@media screen and (max-width: 47.375em) {
	.cbp-vm-view-list .cbp-vm-image {
		width: 20%;
	}

	.cbp-vm-view-list .cbp-vm-title {
		width: auto;
	}

	.cbp-vm-view-list .cbp-vm-details  {
		display: block;
		width: 100%;
		margin: 10px 0;
	}

	.cbp-vm-view-list .cbp-vm-add  {
		margin: 10px;
	}
}

@media screen and (max-width: 40.125em) {
	.cbp-vm-view-grid ul li {
		width: 100%;
	}
}

